.footer {
    margin-bottom: 2rem;
    .small-img-box {
        display: none;
        @include breakpoint(medium) {
            display: flex;
        }
        max-width: 80%;
        @include breakpoint(large) {
            margin-left: 10%;

        }
   
        .footer-img-green {
            height: 101%;
            top: 0;
            left: 0;
            transition: .3s ease-in-out;
            opacity: 0;
            position: absolute;
            width: 100%;
            background: transparent linear-gradient(180deg, rgba(20, 99, 92, 0.87) 0%, rgba(16, 43, 41, 0.87) 87%) 0% 0% no-repeat padding-box;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 44px;
            p {
                text-align: center;
                color: rgba(255, 255, 255, 0.89);
                margin-bottom: 0;
                font-size: 23px;
                font-family: 'Advent Pro', sans-serif;
                font-weight: 300;
                line-height: 1.1;
                letter-spacing: -0.81px;
            }
        }
        .foot-img {
            overflow:hidden;
            height: 152px;
            position: relative;
            &:hover {
                cursor: pointer;
                .footer-img-green {
                    opacity: 1;
                }
            }
        }

        .image-1 {
            background-image: url("../assets/img/kafelek_dziecięca.jpg");
        }
        .image-2 {
            background-image: url("../assets/img/kafelek_ortodoncja.jpg");
        }
        .image-3 {
            background-image: url("../assets/img/kafelek_gabinety.jpg");
        }
        .image-4 {
            background-image: url("../assets/img/kafelek_sprzet.jpg");
        }
    }
    .big-img {
        border-top: 7px solid $green;
        background-image: url("../assets/img/20200113-_DSC8611-Edit.jpg");
        display: none;
        @include breakpoint(medium) {
            display: block;
        }
        height: 406px;
    }
    .mobile-images {
        display: flex;
        @include breakpoint(medium) {
            display: none;
        }
        .mobile-image {
            padding: 1rem;
            height: 166px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            p {
                color: #fff;
                font-size: 23px;
                font-family: 'Advent Pro', sans-serif;
                margin-bottom: 0;

            }
            background-image: url("../assets/img/Group\ 33.jpg");
        }
        // .mobile-image-1 {
        //     background-image: url();
        // }
    }
    .footer-down {
        padding-top: 2rem;
 
        @include breakpoint(large) {
            padding-top: 91px;
            padding-left: 51px;
            padding-right: 51px;
        }
        .down-middle {
            padding-bottom: 1.5rem;
            @include breakpoint(medium) {
                paddding-bottom: 0;
            }
            @media(min-width: 267px) {
                div {
                    min-width: 233px;
                }

            }
            display: flex;
            justify-content: center;
            p {
                line-height: 1;
                font-size: 30px;
                margin-bottom: 0;
                color: #14635D;
                font-weight: 300;
                font-family: 'Advent Pro', sans-serif;
                a {
                    font-size: 35px;
                    color: #14635D;
                    font-family: 'Advent Pro', sans-serif;
                    letter-spacing: -0.8px;
                    &:hover {
                        opacity: 0.7;
                    }
                    @include breakpoint(large) {
                        font-size: 53px;
                    }
                }

            }
        }
        .down-left {
            a {
                &:hover {
                    opacity: 0.7;
                }
            }
            display: none;
            @include breakpoint(medium) {
                display: block;
            }
        }
        .down-right {
            @media(min-width: 267px) {
                div {
                    min-width: 233px;
                }

            }
            justify-content: center;
            @include breakpoint(medium) {
                justify-content: flex-end;
            }
            display: flex;

            padding-top: 11px;
            p {
                margin-bottom: 0;
                font-size: 11px;
                // line-height: 1.2;
                a {
              
                    color: #434343;
                    &:hover {
                        color: $green;
                    }
                }
            }
        }
    }
}



