.footer-form-box {
    display: flex;
    justify-content: flex-end;
}


///////////////////ważne dla safari, tak samo przy selekcie!!!
.footer-form input[type=checkbox] {
    -webkit-appearance: none;
}



.footer-form {
    z-index: 1;
    display: flex;
    align-items: center;
    background: #3F5BA5;
    .form-title {
        font-size: 20px;
        color: #fff;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .form-button {
        background-color: #E95A00 !important;
        color: #fff !important;
        border-radius: 20px;
        margin-top: 1rem;
        font-size: 13px;
        &:hover {
            opacity: 0.7;
        }
    }
    padding: 2rem 1rem;
    @media (min-width:480px) {
        padding: 2rem 2rem;

    }
    @media(min-width: 640px) {
        margin: 0 0;
    }
    @media(min-width: 640px) and (max-width: 900px) {
        padding: 1.5rem 1rem;
     
    }
    @media(min-width: 901px) {
        padding: 44px 68px;
    }
    margin: auto;
  
    
    .wpcf7 [type=text], .wpcf7 [type=tel], .wpcf7 [type=email], .wpcf7 textarea, .wpcf7-select {
        background-color: transparent;
    // padding: .5rem;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
    color: #fff;
    padding-left: 15px;
    padding-bottom: 0;
    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
        font-weight: 300;
    
    }
    }
    .wpcf7 textarea {
        margin-bottom: 0;
    }
    .wpcf7-select {
        background-image: url("../assets/img/Group 735.svg");
        // background-position: bottom;
        &:hover {
            cursor: pointer;
        }
        color: rgba(170, 170, 170, 0.61) !important;
    
        option {
            transition: .3s ease-in-out;
            color: #fff;
            padding-top: 0;
            background: #2F88B5;
         
        }
    }

    input[type=checkbox] {
        height: 5px;
        width: 10px;
        position: absolute;
        border-radius: 100%;
        left: 0;
        top: 2.5px;
        z-index: 5;
        cursor: pointer;
    }
    input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 9px;
        height: 9px;
        top: 0;
        left: 0;
        border: 0.5px solid rgba(255, 255, 255, 0.45);
        background-color: #3F5BA5;

    }
    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 4px;
        height: 7px;
        border: 0.5px solid #A7A7A7;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        position: absolute;
        /* top: 1px; */
        bottom: -1px;
        left: 3px;
    }
    
    // .footer-form .wpcf7 .wpcf7-acceptance .wpcf7-list-item-label {
    //     color: #fff !important;
    // }
    
    span .wpcf7-list-item {
        padding-left: 20px;
        position: relative;
        display: inline-block;
        margin-bottom: 5px;
    }
    
    span .wpcf7-list-item label{
        line-height: 1.4;
        // padding-bottom: 1em;
        font-size: 10px;
        // @media(min-width: 980px){
        //     font-size: 10px; 
        // }
        &:hover {
            cursor: pointer;
        }
        color: rgba(255, 255, 255, 0.45);
    }

    input:disabled {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.39);
        padding: 10px 33px;
        transition: .3s ease-in-out;
        color: rgba(255, 255, 255, 0.5);
        font-size: 13px;
        font-weight: 600;
        &:hover {
            color: #3F5BA5 !important;
            border-bottom: 1px solid #5BC5C1;
            background-color: #fff;
            border: 1px solid #fff;
        }
  
    }
 }