.header-padding {
	padding-bottom: 2rem;
	@include breakpoint(medium) {
		padding-bottom: 50px;
	}
	@include breakpoint(large) {
		padding-bottom: 73.5px;
	}
}



header#site-header.header-gray {
	background-color: #F7F7F7;
}
.green-back {
	background: #14635D;
    width: 42px;
    height: 32px;
    right: 15px;
    top: 22px;
    position: fixed;
		@include breakpoint($menu-breakpoint up){ 
		display: none;
	}
}
 .header-right-box {
	// display: flex;
	// @include breakpoint($menu-breakpoint up){ 
	// 	display: block;
	 // }
	 @include breakpoint(large) {
		 width: 75%;

	 }
 }
.header-phone {
	p {
		margin-bottom: 0;
		text-align: right;
	}
	margin-right: 60px;
	@include breakpoint(medium) {
		margin-right: 100px;

	}
		@include breakpoint($menu-breakpoint up){ 
		margin-right: 0;
	}
	div {
		text-align: center;
	}
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-bottom: 44px;
	p  {
		font-size: 15px;
		@include breakpoint(medium) {
			font-size: 20px;

		}
		line-height: 1;
		color: #7D7D7D;
		font-family: 'Advent Pro', sans-serif;
	}
	a {
		font-family: 'Advent Pro', sans-serif;
		font-size: 24px;
		@include breakpoint(medium) {
			font-size: 30px;

		}
		font-weight: 400;
		color: #7D7D7D;
		&:hover {
			color: $green;
		}
	}
}
.header-wrap {
	@include breakpoint(large) {
		padding-left: 51px;
		// padding-right: 7%;
	}
}
header#site-header {


	position: relative;
	background: transparent;

	.fixed-nav & {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: .3s ease-out;
		z-index: 100;
	}

	.fixed-nav.scrolled & {
		background: #fff;
	}

	.header-wrap {
		min-height: $header-height;
		padding-top: 1rem;
		// padding-bottom: .5rem;

		.fixed-nav & {
			transition: 0.3s ease-out;
		}

		.fixed-nav.scrolled & {
			min-height: $header-height-scrolled;
		}

	}

	.logo-wrap {
		transition: .3s ease-in-out;
		img {
		width: 90px;
		@include breakpoint(medium) {
			width: auto;
		}
		}
		&:hover {
			opacity: 0.7;
		}
	}
}