
.menu-wrap {
	// background: $green;
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 100vh;
	top: 0;
	right: 0;
	width: 85% !important;
	max-width: 300px;
	padding: 0;
	font-size: rem-calc(14px);
	z-index: 100;
	transform: translateX(100%);
	transition: transform .4s;
	@include breakpoint($menu-breakpoint up){ 
		margin-right: 51px;
		// padding: 23px 18px;
		overflow-y: visible;
		position: static;
		height: auto !important;
		width: auto !important;
		max-width: none;
		transform: none;
		display: block;
	}
	.admin-bar & {
		top: 46px;
		height: calc(100vh - 46px);
		@include breakpoint(783px){
			height: calc(100vh - 32px);
			top: 32px;
		}
	}

	&.active {
		transform: translateX(0);
	}

}

.menu.main-menu {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
	@include breakpoint($menu-breakpoint up){
		flex-direction: row;
		justify-content: space-between;
	}

	li {
		transition: .3s ease-in-out;
		display: block;
		position: relative;
		background-color: $green;
		@include breakpoint($menu-breakpoint up){
			flex: 1;
            justify-content: center;
            display: flex;
			border-right: 0.5px solid #707070;
			&:last-child {
				border-right: none;
			}
			&:hover, &:active {
				background-color: rgba(97,97,97,0.29);
				a {
					color: $green !important;
				}

				// opacity: 0.7;
			}
			// & + li {
			// 	margin-left: 49px;
			// }
		}
		a {
			color: $white;
			padding: .7rem 1rem;
			text-transform: capitalize;
			font-size: 16px;
			font-weight: 300;
			display: block;
			@include breakpoint($menu-breakpoint up){
				display: flex;
				width: 100%;
                justify-content: center;
				align-items: center;
				// display: inline-block;
				height: 100%;
				padding-top: 18px;
			padding-bottom: 18px;
			}
		}
		&.current-menu-item > a,
		&.current-menu-parent > a,
		a:hover {
			color: $white;
			opacity: .8;
			@include breakpoint($menu-breakpoint up){
				opacity: 0.7;
			
			}
		}
		a:active {
			@include breakpoint($menu-breakpoint up){
				opacity: 1;
				color: #fff;
				font-weight: 600;
			}
		}
		
		.arrow {
			width: 15px;
			height: 15px;
			position: absolute;
			top: 0;
			right: 1rem;
			cursor: pointer;
			background-size: contain;
			background: url('../assets/img/down-arrow.svg') no-repeat center;
			opacity: .6;
			@include breakpoint($menu-breakpoint up){
				display: none;
			}
		}
		
		.sub-menu {
			margin: 0;
			display: none;
			opacity: 1;
			@include breakpoint($menu-breakpoint up){
				background: $white;
				position: absolute;
				top: 100%;
				left: -1rem;
				min-width: 100%;
				white-space: nowrap;
				display: none;
			}
			@include breakpoint(medium down){
				opacity: 1 !important;
			}
			li {
				padding: 0;
				@include breakpoint($menu-breakpoint up){
					display: block;
					border: none;
					margin-left: 0 !important;
				}
				a {
					padding-left: 2rem;
					line-height: 1;
					@include breakpoint($menu-breakpoint up){
						padding: .7rem 1rem;
						display: block;
					}
				}
			}
		}	
				
	}
}	

#hamburger {
	margin: 1.9rem 0 1.5rem -1.5rem;
	width: 1.5rem;
	height: 1rem;
	position: relative;
	transform: translateX(-100%);
	z-index: 5;
	transition: all .4s, background .2s;
	display: block;
	color: #fff;
	&:hover {
		opacity: 0.7;
	}
	&:before, &:after, span {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: currentColor;
		transform-origin: 50% 50%;
	}
	&:before {
		position: absolute;
		top: 0;
	}
	span {
		position: absolute;
		top: 50%;
		margin-top: -1px;
	}
	&:after {
		position: absolute;
		bottom: 0;
	}
	@include breakpoint($menu-breakpoint up){
		display: none;
	}
	
	.active & {
		transform: translateX(0);
		margin: 1.9rem 0 1.5rem 1rem;
		color: $white !important;
		span {
			opacity: 0;
		}
		&:before, &:after {
			position: absolute;
			top: calc(50% - 1px);
			width: 1.5rem;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	.menu {
		overflow-y: auto;
		@include breakpoint($menu-breakpoint up){
			overflow: visible;
		}
	}	
}


////////////////////added

// .navbar-toggle{
// 	display: block;
// 	position: fixed;
// 	top: 30px;
// 	right: 0;
// 	background: #6f3192;
// 	margin: 8px;
// 	border: none;
// 	float: right;
// 	padding: 9px 10px;
// 	outline: none;
// 	cursor: pointer;
// 	z-index: 50;
// }
// .sr-only{
// 	position: absolute;
// 	width: 1px;
// 	height: 1px;
// 	padding: 0;
// 	margin: -1px;
// 	overflow: hidden;
// 	clip: rect(0,0,0,0);
// 	border: 0;
// }
// .navbar-toggle .icon-bar{
// 	display: block;
// 	width: 22px;
// 	background: #fff;
// 	height: 2px;
// }
// .navbar-toggle .icon-bar.middle{
// 	width: 100%;
// 	margin: 5px auto;
// }
// .navbar-toggle:hover .icon-bar{
// 	background: #fff;
// }
// #burger{
// 	position: fixed;
// 	max-width: 300px;
// 	width: 65%;
// 	height: 100%;
// 	background: #6f3192;
// 	z-index: 50;
// 	top: 0;
// 	right: 0;
// 	overflow-y: auto;
// 	overflow-x: hidden;
// 	transition: transform .3s, -webkit-transform .3s;
// 	-webkit-transition: -webkit-transform .3s ease;
// 	-moz-transition: transform .3s, -webkit-transform .3s;
// 	-ms-transition: transform .3s, -webkit-transform .3s;
// 	-o-transition: transform .3s, -webkit-transform .3s;
// 	-webkit-transform: translateX(100%);
// 	transform: translateX(100%);
// }
// #burger.active{
// 	-webkit-transform: translateX(0);
// 	transform: translateX(0);
// }
// #burger .closebth{
// 	position: absolute;
// 	top: 20px;
// 	left: 25px;
// 	color: #fff;
// 	font-size: 3rem;
// }
// #burger .menu{
// 	margin: 80px 0;
// }
// #burger .menu li{
// 	display: block;
// 	width: 100%;
// 	text-align: left;
// 	padding: 0;
// }
// #burger .menu li a{
// 	display: block;
// 	width: 100%;
// 	font-size: 1.5rem;
// 	line-height: 1.8rem;
// 	font-weight: 400;
// 	color: #fff;
// 	text-transform: uppercase;
// 	padding: 10px 25px;
// }
// #burger .sub-menu{
// 	position: relative;
// 	box-shadow: none;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	padding: 0;
// }
// #burger .sub-menu li a{
// 	padding: 8px 40px;
// }
// #burger .sub-menu a:hover{
// 	background: #aeb61a;
// }
// .burger-menu-toggle{
// 	position: absolute;
// 	right: 25px;
// 	background: transparent;
// 	border: none;
// 	color: #fff;
// 	outline: none;
// 	cursor: pointer;
// 	font-size: 1.5rem;
// }
// #offer-btn{
// 	top: 125px;
// }
// #team-btn{
// 	top: 163px;
// }
// .fa-angle-down{
// 	font-size: 2.2rem !important;
// }
// #menu-item-13 .sub-menu, #menu-item-98 .sub-menu{
// 	max-height: 0;
// 	transition: all .6s;
// 	-webkit-transition: all .6s;
// 	-moz-transition: all .6s;
// 	-o-transition: all .6s;
// 	overflow: hidden;
// 	margin: 0;
// }
// #menu-item-13 .sub-menu.active, #menu-item-98 .sub-menu.active{
// 	max-height: 390px;
// 	transition: all .6s;
// 	-webkit-transition: all .6s;
// 	-moz-transition: all .6s;
// 	-o-transition: all .6s;
// 	margin: 0 0 20px 0;
// }
