.owl-1 {
	z-index: -1;
}

.sygnet-slider {
	right: 0;
	bottom: 26%;
	z-index: -1;
}

.owl-next,
.owl-prev {
	svg {
		height: 20px;
		@media(min-width: 1300px) {
			height: 32px;

		}
		transition: .3s ease-in-out;
	}

	&:hover {
		background: transparent !important;

		svg {
		opacity: 0.7;
		}
	}
}
.owl-photo {
	height: 220px;
	@include breakpoint(medium) {
		height: 450px;

	}
	background-image: url("../assets/img/20200113-_DSC8728-Edit.jpg");
}

.owl-next {
	margin: 5px 20px !important;
	@media(min-width: 1300px) {
		padding: 5px 5px !important;
		top: 0;
		bottom: 0;
		position: absolute;
		right: -7%;

	}
}

.owl-prev {
	margin: 5px 20px !important;
	@media(min-width: 1300px) {
	padding: 5px 5px !important;
	top: 0;
	bottom: 0;
	position: absolute;
	left: -7%;
	}
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #1E4B48;
}

.owl-theme {
	.owl-nav {
		margin-top: 18px;
	}
	.owl-dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		.owl-dot {
			span {
				// margin: 5px 15px;
				background: #B5B5B5;
				width: 14px;
				height: 14px;
			}
		}
	}
}

.owl-item {
	transition: .3s ease-in-out;
	&:hover {
		opacity: 0.7;
	}
}


