@import '../general/typography';
@import '../modules/foundation-settings';

//////////////////main

.main-slider {
    margin-bottom: 2rem;

    @include breakpoint(medium) {
        margin-bottom: 54px;
    }
}

.second-main {
    padding-bottom: 2rem;

    @include breakpoint(medium) {
        padding-bottom: 70px;
    }

    @include breakpoint(large) {
        padding-bottom: 125px;
    }

    p {
        margin-bottom: 18px;
    }

    .left {
        @media(max-width: 739px) {
            order: 4;
            margin-bottom: 2rem;
        }

        span {
            font-family: 'Advent Pro', sans-serif;
            font-size: 16px;
            color: #616161;
            font-weight: 500;
        }

        .smile-img-href {
            &:hover {
                opacity: 0.7;
            }
        }

 

        .smile-img {
         
            width: 212px;
            padding-bottom: 12px;
        }

        p {
            @include breakpoint(medium) {
                max-width: 207px;
            }
        }
    }

    .middle {
        @media(max-width: 739px) {
            order: -5;
            margin-bottom: 2rem;
        }

        display: flex;
        justify-content: center;

        @include breakpoint(large) {
            padding-left: 100px;

        }

        p {
            @include breakpoint(medium) {
                max-width: 359px;
            }
        }

        .big-title {
            margin-bottom: 2rem;

            @include breakpoint(medium) {
                margin-bottom: 42px;
            }
        }
    }

    .right {
        @media(max-width: 739px) {
            order: -2;
            margin-bottom: 2rem;
        }

        display: flex;
        justify-content: flex-end;

        a {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 1rem 1rem 1rem 1rem;

            @include breakpoint(medium) {
                flex-direction: column;

                margin-top: -100px;
                width: 206px;
                padding: 100px 3px 50px 21px;

            }

            height: 100%;
            background: $green;
            border: 1px solid $green;

            &:hover {
                background: #fff;

                .big-title,
                p {
                    color: $green;
                }
            }
        }

        .big-title {
            transition: .3s ease-in-out;
            font-size: 25px;

            @include breakpoint(large) {
                font-size: 29px;

            }

            color: #fff;
        }

        p {
            transition: .3s ease-in-out;
            color: #fff;
            font-size: 25px;
            font-family: 'Advent Pro', sans-serif;

            @include breakpoint(medium) {
                font-size: 36px;
                font-weight: 400;
            }

        }
    }

    .down-left,
    .down-right {

        @include breakpoint(medium) {
            padding-top: 50px;
        }

        @include breakpoint(large) {
            padding-top: 86px;
        }

        p {
            @include breakpoint(large) {
                max-width: 444px;
            }
        }
    }

    .down-left {
        @media(max-width: 739px) {
            order: -4;
            margin-bottom: 2rem;
        }
    }

    .down-right {
                display: flex;
    justify-content: flex-end;
        @media(max-width: 739px) {
            order: -3;
            margin-bottom: 2rem;
        }
    }
}

////////////////////////galeria

.galeria-box {
    margin-bottom: 2rem;

    @include breakpoint(medium) {
        margin-bottom: 100px;
    }

    @include breakpoint(large) {
        margin-right: 51px;
        margin-left: 51px;
        margin-bottom: 124px
    }

    .galeria-title-box {
        padding-bottom: 2rem;

        @include breakpoint(medium) {
            padding-bottom: 54px;

        }

        display: flex;
        justify-content: flex-end;

        .galeria-title-inside {
            @include breakpoint(medium) {
                width: calc(75% - 11px);
   
            }
        }
    }
}

.galeria-img {
    background-image: url("../assets/img/20200113-_DSC8402-Edit.jpg");
    height: 168px !important;
    transition: .3s ease-in-out;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}



////////////////////zespol

.zespol {
    .cell {
        transition: .3s ease-in-out;
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
    img {
        margin-bottom: 6px;
        width: 100%;
    }

    p {
        color: rgba(97, 97, 97, 0.89);
        font-size: 18px;
        font-family: 'Advent Pro', sans-serif;
        text-align: center;

    }
}





//////////////////team-single

.team-single {
    animation-name: example;
    animation-duration: .3ys;
    animation-timing-function: ease-in-out;
    .single-cross {
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
    display: none;
    background: rgba(12, 22, 21, 0.85);
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    padding-top: 92px;

    @media(min-width: 1300px) {
        padding-left: 140px;
        padding-right: 140px;
    }

    .right {
        @include breakpoint(medium) {
            padding-left: 54.5px;

        }
    }

    p {
        max-width: 600px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .team-single-inside {
        .img-box {
            margin: auto;

            @include breakpoint(medium) {
                margin: unset;
            }
        }

        padding: 2rem;

        @include breakpoint(medium) {
            padding: 77px;

        }

        background: #fff;

        .title-box {
            display: flex;
            justify-content: space-between;

            img {
                margin-top: -17px;
                transition: .3s ease-in-out;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

///////////////sprzet
.main-sprzet-box {
    margin-bottom: 2rem;

    @include breakpoint(medium) {
        margin-bottom: 100px;
    }

    @include breakpoint(large) {
        margin-bottom: 124px;
        margin-right: 51px !important;
    }

}


.banner-sprzet {
    background-image: url("../assets/img/20200113-_DSC8728-Edit.jpg");
    height: 220px;

    @include breakpoint(medium) {
        height: 450px;

    }

    margin-bottom: 2rem;

    @include breakpoint(medium) {
        margin-bottom: 65px;
    }
}

.green-menu {
    display: none;

    @include breakpoint(medium) {
        display: block;
    }

    ul {
        list-style: none;
        margin-left: 0;

        li {
            font-size: 13px;
            letter-spacing: -0.46px;
            margin-bottom: 15px;
            padding: 10px;

            @include breakpoint(large) {
                width: 260px;

            }

            text-align: right;
            border: 1px solid $green;
            background: $green;
            color: #fff;
            transition: .3s ease-in-out;

            &:hover {
                background: #fff;
                color: $green;
                cursor: pointer;
            }
        }
    }
}

.add-border {
    background: #fff !important;
    color: $green !important;
}

.order-box {
    display: flex;
    flex-direction: column;
}

@keyframes example {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }
}

.menu-wladze-item {
    animation-name: example;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    display: flex;
    margin-bottom: 2rem;

    @include breakpoint(medium) {
        margin-bottom: 42px;
    }

    @include breakpoint(large) {
        margin-bottom: 76px;
    }

    .big-title {
        font-size: 27px;

        @include breakpoint(medium) {
            font-size: 31px;
            margin-bottom: 29px;
        }
    }

    .sprzet-img {
        background-image: url("../assets/img/Rectangle\ 45.jpg");
        height: 158px !important;
    }
}

.order-start {
    order: -1;
}

.order-last {
    order: 1;
}

.text-sprzet-box {
    margin-bottom: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    @include breakpoint(medium) {
        margin-bottom: 0;
        padding-left: 0px;
        padding-left: 0px;
    }
}
.images-sprzet-box {
    display: flex;
    justify-content: center;

    .grid-x {
        width: 80%;
    }

    @include breakpoint(medium) {
        display: block;

        .grid-x {
            width: 100%;
        }
    }
}

///////////////about

.about-text {
    // padding-left: 20px;
    // padding-right: 20px;
    @include breakpoint(medium) {
        // padding-left: 0;
        padding-right: 150px;
    }
}