@import '../modules/foundation-settings';

* {
	outline: none;
	    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    transition: .3s ease-in-out;
}

.small-pad {
    @media(max-width: 739px) {
        padding-right: 5%;
        padding-left: 5%;
    }
}

// .transform-180 {
//     transform: rotate(180deg);
// }

// .rotate {
//     img {
//         transform: rotate(180deg);
//     }
// }

// a {
// 	transition: all .3s ease-in-out;
// }

// .grid-container-padding {
//     @media (min-width: 1200px) {
//         padding: 0 5%;
//     }
// }

.section {
    padding-bottom: 3rem;
    @media screen and (min-width: 640px) {
        padding-bottom: 5rem;
    }
    @media screen and (min-width: 1200px) {
        padding-bottom: 10rem;
    }
}

.center {
    display: flex;
    align-items: center
}
.flex {
    display: flex;
}


// .height-100 {
//     @media screen and (min-width: 1360px){
//         min-height: 100vh;
//     }
// }

.order-1 {
    @media screen and (max-width: 639px) {
        order: -1;
    }
}

.position-relative {
    position: relative;
}
.position-absolute {
    position:absolute;
}

.full-width {
    width: 100%;
}

// .grid-container-left {
//     padding-left: 0.625rem;
//     padding-right: 0.625rem;
//     @media print, screen and (min-width: 40em){
//         padding-left: 0.9375rem;
//         padding-right: 0;
//     }
// }
// .grid-container-right {
//     padding-left: 0.625rem;
//     padding-right: 0.625rem;
//     @media print, screen and (min-width: 40em){
//         padding-right: 0.9375rem;
//         padding-left: 0;
//     }
// }

// @media(min-width: 1130px) {
//     .stretch-right {
//         padding-right: calc( ( 100vw - 1130px) / 2 + 0.9375rem );
//         }
//     .stretch-left {
//         padding-left: calc( ( 100vw - 1130px) / 2 + 0.9375rem );
//     }

// }

// .no-margin-bottom {
//     margin-bottom: 0 !important;
// }


// .link-a-opacity {
//     p {
//         transition: .3s ease-in-out;
//         &:hover {
//             opacity: 0.7;
//         }

//     }
// }

// .add-opacity {
//     opacity: 0.7;
//     .special-menu-title {
//         color: #5BC5C1 !important;
//     }
// }


// .mb-90 {
//  margin-bottom: 2rem;
//  @include breakpoint(large) {
//      margin-bottom: 90px;
//  }
// }

// .padding-right-84 {
//   @include breakpoint(large) {
//       padding-right: 84px;
//   }
// }

// .padding-left-84  {
//   @include breakpoint(large) {
//       padding-left: 84px;
//   }    
// }
// .padding-left-54  {
//     @include breakpoint(medium) {
//         padding-left: 15px;
//     }
//   @include breakpoint(large) {
//       padding-left: 54px;
//   }    
// }
// .padding-right-108 {
//     @include breakpoint(medium) {
//         padding-right: 15px;
//     }
//   @include breakpoint(large) {
//       padding-right: 108px
//   }
// }

// .padding-left-108  {
//     @include breakpoint(medium) {
//         padding-left: 15px;
//     }
//   @include breakpoint(large) {
//       padding-left: 108px
//   }    
// }

.small-2rem {
    margin-bottom: 2rem;
    @include breakpoint(medium) {
        margin-bottom: 0;
    }
}

.small-250 {
    @media(max-width: 639px) {
        height: 250px;
    }
}









