@import '../modules/foundation-settings';
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700;800&display=swap');

$blue: #3F5BA5;
$brown: #8E6B55;
$beige-table: rgba(63, 91, 166, 0.12);
$light-beige-table: rgba(63, 91, 166, 0.07);
$grey: #404D5A;
$green: #14635D;



* {
    font-family: 'Open Sans', sans-serif;
}

// @mixin grid-padding-x($property) {
//     @media(min-width: 1024px) {
//         margin-left: -$property;
//         margin-right: -$property;
//         > .cell {
//         padding-left: $property;
//         padding-right: $property;
//         }

//     }
//   }

// .small-img-height {
//     @media(max-width: 639px) {
//         height: 250px;
//         margin-bottom: 2rem;
//     }
// }

h1,h2,h3,h4,h5,h6 {
    font-family: 'Advent Pro', sans-serif;
}


.big-title {
    font-size: 30px;
    @media(min-width: 360px) {
        font-size: 43px;

    }
    line-height: 1;
    letter-spacing: -1.75px;
    @include breakpoint(medium) {
        font-size: 44px;
    }
    @include breakpoint(large) {
        font-size: 50px;
    }
    margin-bottom: 18px;
    color: rgba(97, 97, 97, 0.89);
    font-weight: 300;

    em {
        font-style: normal;
        color: #3F5BA5
    }
}


.alert {
  @extend .big-title;
  text-transform: uppercase;
}

// #breadcrumbs {
//     margin-bottom: 0;
//     font-size: 16px;
//     color: rgba(88, 110, 124, 0.5);
//     a {
//         color: $blue;
//         &:hover {
//             opacity: 0.7;
//         }
//     }
// }

.myButton {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    // @media screen and (min-width: 980px){
    //     font-size: 13px;
    // }
    // @media screen and (min-width: 1360px){
    //     font-size: 15px;
    // }
    padding: 13px 33px;
    // border-radius: 100px;
    transition: .3s ease-in-out;
    // margin-bottom: 0;
    &:hover {
        cursor: pointer;
    }
}

.button-smile {
    font-family: 'Advent Pro', sans-serif;
    font-size: 18px;
    border: 1px solid #707070;
    color: #707070;
    padding: 5px 8px;
    em {
        font-style: normal;
        font-size: 12px;
    }
    &:hover {
        cursor: pointer;
        background-color: $green;
        border: 1px solid $green;
        color: #fff;
    }
}

.return-button {
    position: fixed;
    top: 214px;
    @include breakpoint(medium) {
        top: 430px;

    }
    right: 0;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    font-weight: 300;
    padding: 8px 15px;
    background: #D19191;
    z-index: 20;
    &:hover {
        opacity: 0.7;
        color: #fff;
    }

}

// .form-button {
//     @extend .myButton;
//     color: #fff;
//     background: transparent;
//     border: none;
//     font-weight: 400;
// }

// .owl-button {
//     @extend .myButton;
//     left: 50%;
//     transform: translate(-50%);
//     bottom: 10%;
//     color: #fff;
//     background: transparent;
//     border: 1px solid #fff;
//     font-weight: 600;
//     font-size: 13px;
//     padding: 11px 33px;
//     &:hover {
//         background: #fff;
//         color: #1D2B52;
//     }
// }


// .green-button {
//     @extend .myButton;
//     background-color:#5BC5C1 !important;
//     color: #fff;
//     border: 1px solid #5BC5C1;
//     &:hover {
//        background-color: transparent !important;
//        color: #5BC5C1 !important;
//     }
// }

// .white-button {
//     @extend .myButton;
//     background-color:transparent;
//     color: #fff;
//     border: 1px solid #fff;
//     &:hover {
//        background-color: #fff;
//        color: $blue;
//     }
// }

p {
    font-size: 13px;
    @include breakpoint(large) {
        font-size: 15px;

    }
    line-height: 1.46;
    color: #707070;
    em {
        font-style: normal;
        color: #1D2B52;
        font-weight: 600;
    }
}